<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title class="ion-text-center">My Invoices</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-avatar slot="start">
        <ion-icon name="calendar-number-outline"></ion-icon>
      </ion-avatar>
      <ion-label>Factura 1</ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <ion-icon name="calendar-number-outline"></ion-icon>
      </ion-avatar>
      <ion-label>Factura 2</ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <ion-icon name="calendar-number-outline"></ion-icon>
      </ion-avatar>
      <ion-label>Factura 3</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
